<div style="background-color: rgb(42, 42, 43);">
<div class="heading">
    <br>
    <h2><b>Featured Books</b></h2>
</div>
<hr>

  <div class="container" style="background-color: rgb(85, 79, 79);">
    <br><br>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 11rem;margin-left:120px; margin-right: 10px">
                <img class="card-img-top" src="../..//../assets/Image_book/book1.png" alt="Card image cap" height="130" width="100">
                <div class="card-body">
                    <p class="card-text" style="color: rgb(19, 25, 30);text-align: center;"><b>SWAMY VIVEKANANDA</b></p>
                    <button class="button" type="submit">₹450/-</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 11rem;margin-left: 10px;">
                <img class="card-img-top" src="../..//../assets/Image_book/book2.png" alt="Card image cap" height="130" width="100">
                <div class="card-body">
                    <p class="card-text" style="color: rgb(19, 25, 30);text-align: center;"><b>THINK & GROW RICH</b></p>
                    <button class="button" type="submit">₹500/-</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:11rem;margin-left:10px;">
                <img class="card-img-top" src="../..//../assets/Image_book/book3.png" alt="Card image cap" height="130" width="100">
                <div class="card-body">
                    <p class="card-text" style="color: rgb(19, 25, 30);text-align: center;"><b>IN SEARCH OF LOST TIME</b></p>
                    <button class="button" type="submit">₹599/-</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:11rem;margin-left:10px;">
                <img class="card-img-top" src="../..//../assets/Image_book/book4.png" alt="Card image cap" height="130" width="100">
                <div class="card-body">
                    <p class="card-text" style="color: rgb(19, 25, 30);text-align: center;"><b>FAMOUS PAINTINGS</b></p>
                    <button class="button" type="submit">₹579/-</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:11rem;margin-left:10px;">
                <img class="card-img-top" src="../..//../assets/Image_book/book10.png" alt="Card image cap" height="155" width="100">
                <div class="card-body">
                    <p class="card-text" style="color: rgb(19, 25, 30);text-align: center;"><b>MAHABHARATA</b></p>
                    <button class="button" type="submit">₹999/-</button>
                </div>
            </div>
            
        </div>
        </div>
        <br>
        <br>
        <div class="row" style="margin-left: 100px;">
        <div class="col">
            <div class="card" style="width:11rem;margin-left:1px;">
                <img class="card-img-top" src="../..//../assets/Image_book/book11.png" alt="Card image cap" height="130" width="100">
                <div class="card-body">
                    <p class="card-text" style="color: rgb(19, 25, 30);text-align: center;"><b>RAMAYANA</b></p>
                    <button class="button" type="submit">₹799/-</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:11rem;margin-left:10px;">
                <img class="card-img-top" src="../..//../assets/Image_book/book12.png" alt="Card image cap" height="130" width="100">
                <div class="card-body">
                    <p class="card-text" style="color: rgb(19, 25, 30);text-align: center;"><b>BHAGAVADGITA</b></p>
                    <button class="button" type="submit">₹1499/-</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:11rem;margin-left:10px;">
                <img class="card-img-top" src="../..//../assets/Image_book/book13.png" alt="Card image cap" height="130" width="100">
                <div class="card-body">
                    <p class="card-text" style="color: rgb(19, 25, 30);text-align: center;"><b>HOLY BIBLE</b></p>
                    <button class="button" type="submit">₹1299/-</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:11rem;margin-left:10px;">
                <img class="card-img-top" src="../..//../assets/Image_book/book14.png" alt="Card image cap" height="130" width="100">
                <div class="card-body">
                    <p class="card-text" style="color: rgb(19, 25, 30);text-align: center;"><b>THE QURAN</b></p>
                    <button class="button" type="submit">₹1399/-</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:11rem;margin-left:10px;">
                <img class="card-img-top" src="../..//../assets/Image_book/book15.png" alt="Card image cap" height="110" width="100">
                <div class="card-body">
                    <p class="card-text" style="color: rgb(19, 25, 30);text-align: center;"><b>INDIA OF MY DREAMS</b></p>
                    <button class="button" type="submit">₹659/-</button>
                </div>
            </div>
        </div>
    </div>
    <br>

       <br>
       <br>
</div>
       
      