<!-- <p><b>Trading expert</b>(Showing 1-5 of 683 results for "Trading Expert)</p> -->
<html>
<header class=" page-heading">
    <h3 style="font-size: 25px;"><b>Customer reviews</b></h3>
<body>
<div class="div">
    <span style="color:black; border-color:red;margin-left: 300px;"><b>Filter by topic</b></span>&nbsp;&nbsp;
    <button class="button">Rating</button>&nbsp;&nbsp;
    <button class="button">Experience</button>&nbsp;&nbsp;
    <button class="button">Categories</button>&nbsp;&nbsp;
    <button class="button">By Cost</button>&nbsp;&nbsp;
</div>
<br>

        <div class="container" style=" width: 70vw; margin-left: auto;
    margin-right: auto;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);border-radius: 25px;">
        <div class="row">
            <div class="col">
                <br>
                            <img src="..//..//../assets/Image_book/review4.png" width="150" height="150"><br><br>
                            <br>
            </div>
            
            <div class="col">
<br>

                <h3 style="font-size:20px;margin-left: 3px;"><b>Richards</b></h3>
              
                <p>4.8
                    <link rel="stylesheet"
                        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </p>
                <p>3,878 ratings | 1,267 reviews</p>
                <h5 style="color: rgb(21, 21, 133);">Good Customer Service ,Quality of Books was Very Good</h5>

            </div>
            <div class="col">

                
                <button class="button" style="border: 2px solid rgb(13,123,154);color: rgb(13,123,154);">Visit Community Profile</button><i class="fa fa-lock" style="font-size:20px"></i>     
                <br>
                <button class="button" style="border: 2px solid rgb(13,123,154);color: rgb(13,123,154);">EmailId</button><i class="fa fa-lock" style="font-size:20px"></i>
                <br>
                <button class="button" style="border: 2px solid rgb(13,123,154);color: rgb(13,123,154);">Mobile number</button><i class="fa fa-lock" style="font-size:20px"></i>
                <br><br>
                <button class="btn btn-primary">Connect Now</button><br>

            </div>
        </div>

</div>
<br>
<div class="container" style=" width: 70vw; margin-left: auto;
margin-right: auto;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);border-radius: 25px;">
    <div class="row">
        <div class="col">
<br>
            <img src="..//..//../assets/Image_book/review1.png" width="150" height="150"><br><br>
            <br>
        <br>
        </div>
        
        <div class="col">
<br>

            <h3 style="font-size:20px;margin-left: 3px;"><b>Steven</b></h3>
            
            <p>4.8
                <link rel="stylesheet"
                    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            </p>
            <p>3,878 ratings | 1,267 reviews</p>
            <h5 style="color: rgb(21, 21, 133);">Good Service Available along with Interesting books</h5>
        

        </div>
        <div class="col">

            
            <button class="button" style="border: 2px solid rgb(13,123,154);color: rgb(13,123,154);">Visit Community Profile</button><i class="fa fa-lock" style="font-size:20px"></i>
            <br>
            <button class="button" style="border: 2px solid rgb(13,123,154);color: rgb(13,123,154);">EmailId</button><i class="fa fa-lock" style="font-size:20px"></i>
            <br>
            <button class="button" style="border: 2px solid rgb(13,123,154);color: rgb(13,123,154);">Mobile number</button><i class="fa fa-lock" style="font-size:20px"></i>
            <br>
            <button class="btn btn-primary">Connect Now</button><br>

        </div>
    </div>

</div>
<br>
<div class="container" style=" width: 70vw; margin-left: auto;
margin-right: auto;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);border-radius: 25px;">
    <div class="row">
        <div class="col">
<br>
            <img src="..//..//../assets/Image_book/review2.png" width="150" height="150"><br><br>
            <br>
        <br>
        </div>
        
        <div class="col">
<br>

            <h3 style="font-size:20px;margin-left: 3px;"><b>Williams</b></h3>
            
            <p>4.8
                <link rel="stylesheet"
                    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            </p>
            <p>3,878 ratings | 1,267 reviews</p>
            <h5 style="color: rgb(21, 21, 133);">Good Books with low Cost</h5>
            

        </div>
        <div class="col">

            
            <button class="button" style="border: 2px solid rgb(13,123,154);color: rgb(13,123,154);">Visit Community Profile</button><i class="fa fa-lock" style="font-size:20px"></i>
            <br>
            <button class="button" style="border: 2px solid rgb(13,123,154);color: rgb(13,123,154);">EmailId</button><i class="fa fa-lock" style="font-size:20px"></i>
            <br>
            <button class="button" style="border: 2px solid rgb(13,123,154);color: rgb(13,123,154);">Mobile number</button><i class="fa fa-lock" style="font-size:20px"></i>
            <br>
            <button class="btn btn-primary">Connect Now</button><br>

        </div>
    </div>

</div>
<br>
<div class="container" style=" width: 70vw; margin-left: auto;
margin-right: auto;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);border-radius: 25px;">
    <div class="row">
        <div class="col">
<br>
            <img src="..//..//../assets/Image_book/review3.png" width="150" height="150"><br><br>

            <br>
        <br>
        </div>
        
        <div class="col">
<br>

            <h3 style="font-size:20px;margin-left: 3px;"><b>Smith</b></h3>
            
            <p>4.8
                <link rel="stylesheet"
                    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            </p>
            <p>3,878 ratings | 1,267 reviews</p>
            <h5 style="color: rgb(21, 21, 133);">Quality Books Available With Best Price</h5>
            

        </div>
        <div class="col">

           
            <button class="button" style="border: 2px solid rgb(13,123,154);color: rgb(13,123,154);">Visit Community Profile</button><i class="fa fa-lock" style="font-size:20px"></i>
            <br>
            <button class="button" style="border: 2px solid rgb(13,123,154);color: rgb(13,123,154);">Mobile number</button><i class="fa fa-lock" style="font-size:20px"></i>
            <br>
            <button class="button" style="border: 2px solid rgb(13,123,154);color: rgb(13,123,154);">Mobile number</button><i class="fa fa-lock" style="font-size:20px"></i>
            <br><br>
            <button class="btn btn-primary">Connect Now</button><br>

        </div>
    </div>

</div>
<br>
 <div class="container" style=" width: 70vw; margin-left: auto;
    margin-right: auto;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);border-radius: 25px;">
        <div class="row">
            <div class="col">
<br>
                <img src="..//..//../assets/Image_book/review4.png" width="150" height="150"><br><br>
                <br>
            <br>
            </div>
            
            <div class="col">
<br>

                <h3 style="font-size:20px;margin-left: 3px;"><b>Jack</b></h3>
                <p>4.8
                    <link rel="stylesheet"
                        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </p>
                <p>3,878 ratings | 1,267 reviews</p>
                <h5 style="color: rgb(21, 21, 133);">Best Online Shopping Ever</h5>
         

            </div>
            <div class="col">

                
                <button class="button" style="border: 2px solid rgb(13,123,154);color: rgb(13,123,154);">Visit Community Profile</button><i class="fa fa-lock" style="font-size:20px"></i>
                <br>
                <button class="button" style="border: 2px solid rgb(13,123,154);color: rgb(13,123,154);">EmailId</button><i class="fa fa-lock" style="font-size:20px"></i>
                <br>
                <button class="button" style="border: 2px solid rgb(13,123,154);color: rgb(13,123,154);">Mobile number</button><i class="fa fa-lock" style="font-size:20px"></i>
                <br><br>
                <button class="btn btn-primary">Connect Now</button><br>

            </div>
        </div>

</div>




 

</body> 
</header>
</html>
